@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("s1.eot");
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("s2.eot");
}
